* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

html {
  line-height: 1.15;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

p, li, ul, pre, div, h1, h2, h3, h4, h5, h6,
figure, blockquote, figcaption {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focus,
[type=button]:-moz-focus,
[type=reset]:-moz-focus,
[type=submit]:-moz-focus {
  outline: 1px dotted ButtonText;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input {
  padding: 2px 4px;
}

img {
  display: block;
}

@media (min-width: 1440px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 72px;
    font-family: "Pretendard500";
  }
  nav #Resopnsive {
    width: 1296px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav #Resopnsive #Title {
    font-size: 35px;
  }
  nav #Resopnsive #Menu {
    font-family: "Pretendard700";
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    width: 450px;
  }
}
@media (max-width: 1439px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 72px;
    font-family: "Pretendard500";
  }
  nav #Resopnsive {
    width: 1296px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav #Resopnsive #Title {
    font-size: 35px;
  }
  nav #Resopnsive #Menu {
    font-family: "Pretendard700";
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    width: 450px;
  }
}
@media (max-width: 1023px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 72px;
    font-family: "Pretendard500";
  }
  nav #Resopnsive {
    width: 1296px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav #Resopnsive #Title {
    font-size: 35px;
  }
  nav #Resopnsive #Menu {
    font-family: "Pretendard700";
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    width: 450px;
  }
}
@media (max-width: 767px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 72px;
    font-family: "Pretendard500";
  }
  nav #Resopnsive {
    width: 1296px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav #Resopnsive #Title {
    font-size: 35px;
  }
  nav #Resopnsive #Menu {
    font-family: "Pretendard700";
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    width: 450px;
  }
}
@font-face {
  font-family: "Pretendard400";
  src: url("../fonts/Pretendard-Regular.otf");
}
@font-face {
  font-family: "Pretendard500";
  src: url("../fonts/Pretendard-Medium.otf");
}
@font-face {
  font-family: "Pretendard600";
  src: url("../fonts/Pretendard-SemiBold.otf");
}
@font-face {
  font-family: "Pretendard700";
  src: url("../fonts/Pretendard-Bold.otf");
}
#CopyrightAlert {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
}
#CopyrightAlert button {
  color: white;
}/*# sourceMappingURL=style.css.map */