* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

html {
  line-height: 1.15;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

p, li, ul, pre, div, h1, h2, h3, h4, h5, h6,
figure, blockquote, figcaption {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focus,
[type=button]:-moz-focus,
[type=reset]:-moz-focus,
[type=submit]:-moz-focus {
  outline: 1px dotted ButtonText;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input {
  padding: 2px 4px;
}

img {
  display: block;
}

@media (min-width: 1440px) {
  body {
    font-family: "Pretendard500";
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    font-family: "Pretendard500";
  }
  nav #Resopnsive {
    width: 1296px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav #Resopnsive #Title {
    font-size: 35px;
  }
  nav #Resopnsive #Menu {
    font-family: "Pretendard700";
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    width: 450px;
  }
  nav #Resopnsive #IconMenu {
    display: flex;
    justify-content: space-between;
    width: 140px;
  }
  #Contents {
    position: relative;
    max-width: 1296px;
    margin: 0 auto;
    padding-bottom: 182px;
  }
  #Contents #Header {
    padding-top: 96px;
    line-height: 55px;
    letter-spacing: -1px;
    font-family: "Pretendard700";
    font-size: 40px;
  }
  #Contents #Middle {
    display: flex;
    flex-wrap: wrap;
  }
  #Contents #Middle .item {
    flex: 1;
    position: relative;
    max-width: 666px;
    padding: 0 18px;
    box-sizing: border-box;
  }
  #Contents #Middle .item:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #Contents #Middle .item:nth-child(2) .card {
    height: 192px;
    width: 287px;
  }
  #Contents #Middle .item:nth-child(2) .card .Photo .Title {
    font-size: 22px;
    line-height: 32px;
  }
  #Contents #Middle .card {
    overflow: hidden;
    position: relative;
    margin-top: 36px;
    border-radius: 14px;
    background-color: var(--colorBg10);
    box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 0.09);
    display: block;
    box-sizing: border-box;
  }
  #Contents #Middle .card .Title .Top {
    padding: 25px 24px 0;
  }
  #Contents #Middle .card .Title .Top svg {
    width: 36px;
    height: 36px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
  }
  #Contents #Middle .card .Title .Top .Balloon {
    display: inline-block;
    position: relative;
    height: 34px;
    margin-top: 1px;
    padding: 0 13px;
    border-radius: 13px;
    font-size: 13px;
    line-height: 34px;
    background-color: #eee;
    vertical-align: top;
  }
  #Contents #Middle .card .Title .Top .Balloon::before {
    position: absolute;
    top: 0;
    left: -4px;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18' fill='%23eee' %3E%3Cpath d='M0 0c3.003 2.178 4.963 5.706 4.961 9.699V18H18C18 8.059 9.941 0 0 0'/></svg>");
    content: "";
  }
  #Contents #Middle .card .Photo .Title {
    font-family: "Pretendard700";
    padding: 0 24px 0;
    max-height: 92px;
    height: 92px;
    margin-top: 13px;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: -1px;
  }
  #Contents #Middle .card .Photo .Tag {
    color: #666;
    font-size: 14px;
    padding: 25px 24px 0;
  }
  #Contents #Middle .card .Photo .Tag span {
    font-family: "Pretendard400";
    margin-right: 6px;
  }
  #Contents #Middle .card .Photo .Image {
    margin-top: 31px;
  }
  #Contents #Middle .card .Photo .Image img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1439px) {
  body {
    font-family: "Pretendard500";
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    font-family: "Pretendard500";
  }
  nav #Resopnsive {
    width: 1296px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav #Resopnsive #Title {
    font-size: 35px;
  }
  nav #Resopnsive #Menu {
    font-family: "Pretendard700";
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    width: 450px;
  }
  nav #Resopnsive #IconMenu {
    display: flex;
    justify-content: space-between;
    width: 140px;
  }
  #Contents {
    position: relative;
    max-width: 1296px;
    margin: 0 auto;
    padding-bottom: 182px;
  }
  #Contents #Header {
    padding-top: 96px;
    line-height: 55px;
    letter-spacing: -1px;
    font-family: "Pretendard700";
    font-size: 40px;
  }
  #Contents #Middle {
    display: flex;
    flex-wrap: wrap;
  }
  #Contents #Middle .item {
    flex: 1;
    position: relative;
    max-width: 666px;
    padding: 0 18px;
    box-sizing: border-box;
  }
  #Contents #Middle .item:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #Contents #Middle .item:nth-child(2) .card {
    height: 192px;
    width: 287px;
  }
  #Contents #Middle .item:nth-child(2) .card .Photo .Title {
    font-size: 22px;
    line-height: 32px;
  }
  #Contents #Middle .card {
    overflow: hidden;
    position: relative;
    margin-top: 36px;
    border-radius: 14px;
    background-color: var(--colorBg10);
    box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 0.09);
    display: block;
    box-sizing: border-box;
  }
  #Contents #Middle .card .Title .Top {
    padding: 25px 24px 0;
  }
  #Contents #Middle .card .Title .Top svg {
    width: 36px;
    height: 36px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
  }
  #Contents #Middle .card .Title .Top .Balloon {
    display: inline-block;
    position: relative;
    height: 34px;
    margin-top: 1px;
    padding: 0 13px;
    border-radius: 13px;
    font-size: 13px;
    line-height: 34px;
    background-color: #eee;
    vertical-align: top;
  }
  #Contents #Middle .card .Title .Top .Balloon::before {
    position: absolute;
    top: 0;
    left: -4px;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18' fill='%23eee' %3E%3Cpath d='M0 0c3.003 2.178 4.963 5.706 4.961 9.699V18H18C18 8.059 9.941 0 0 0'/></svg>");
    content: "";
  }
  #Contents #Middle .card .Photo .Title {
    font-family: "Pretendard700";
    padding: 0 24px 0;
    max-height: 92px;
    height: 92px;
    margin-top: 13px;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: -1px;
  }
  #Contents #Middle .card .Photo .Tag {
    color: #666;
    font-size: 14px;
    padding: 25px 24px 0;
  }
  #Contents #Middle .card .Photo .Tag span {
    font-family: "Pretendard400";
    margin-right: 6px;
  }
  #Contents #Middle .card .Photo .Image {
    margin-top: 31px;
  }
  #Contents #Middle .card .Photo .Image img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1023px) {
  body {
    font-family: "Pretendard500";
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    font-family: "Pretendard500";
  }
  nav #Resopnsive {
    width: 1296px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav #Resopnsive #Title {
    font-size: 35px;
  }
  nav #Resopnsive #Menu {
    font-family: "Pretendard700";
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    width: 450px;
  }
  nav #Resopnsive #IconMenu {
    display: flex;
    justify-content: space-between;
    width: 140px;
  }
  #Contents {
    position: relative;
    max-width: 1296px;
    margin: 0 auto;
    padding-bottom: 182px;
  }
  #Contents #Header {
    padding-top: 96px;
    line-height: 55px;
    letter-spacing: -1px;
    font-family: "Pretendard700";
    font-size: 40px;
  }
  #Contents #Middle {
    display: flex;
    flex-wrap: wrap;
  }
  #Contents #Middle .item {
    flex: 1;
    position: relative;
    max-width: 666px;
    padding: 0 18px;
    box-sizing: border-box;
  }
  #Contents #Middle .item:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #Contents #Middle .item:nth-child(2) .card {
    height: 192px;
    width: 287px;
  }
  #Contents #Middle .item:nth-child(2) .card .Photo .Title {
    font-size: 22px;
    line-height: 32px;
  }
  #Contents #Middle .card {
    overflow: hidden;
    position: relative;
    margin-top: 36px;
    border-radius: 14px;
    background-color: var(--colorBg10);
    box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 0.09);
    display: block;
    box-sizing: border-box;
  }
  #Contents #Middle .card .Title .Top {
    padding: 25px 24px 0;
  }
  #Contents #Middle .card .Title .Top svg {
    width: 36px;
    height: 36px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
  }
  #Contents #Middle .card .Title .Top .Balloon {
    display: inline-block;
    position: relative;
    height: 34px;
    margin-top: 1px;
    padding: 0 13px;
    border-radius: 13px;
    font-size: 13px;
    line-height: 34px;
    background-color: #eee;
    vertical-align: top;
  }
  #Contents #Middle .card .Title .Top .Balloon::before {
    position: absolute;
    top: 0;
    left: -4px;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18' fill='%23eee' %3E%3Cpath d='M0 0c3.003 2.178 4.963 5.706 4.961 9.699V18H18C18 8.059 9.941 0 0 0'/></svg>");
    content: "";
  }
  #Contents #Middle .card .Photo .Title {
    font-family: "Pretendard700";
    padding: 0 24px 0;
    max-height: 92px;
    height: 92px;
    margin-top: 13px;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: -1px;
  }
  #Contents #Middle .card .Photo .Tag {
    color: #666;
    font-size: 14px;
    padding: 25px 24px 0;
  }
  #Contents #Middle .card .Photo .Tag span {
    font-family: "Pretendard400";
    margin-right: 6px;
  }
  #Contents #Middle .card .Photo .Image {
    margin-top: 31px;
  }
  #Contents #Middle .card .Photo .Image img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 767px) {
  body {
    font-family: "Pretendard500";
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    font-family: "Pretendard500";
  }
  nav #Resopnsive {
    width: 1296px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav #Resopnsive #Title {
    font-size: 35px;
  }
  nav #Resopnsive #Menu {
    font-family: "Pretendard700";
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    width: 450px;
  }
  nav #Resopnsive #IconMenu {
    display: flex;
    justify-content: space-between;
    width: 140px;
  }
  #Contents {
    position: relative;
    max-width: 1296px;
    margin: 0 auto;
    padding-bottom: 182px;
  }
  #Contents #Header {
    padding-top: 96px;
    line-height: 55px;
    letter-spacing: -1px;
    font-family: "Pretendard700";
    font-size: 40px;
  }
  #Contents #Middle {
    display: flex;
    flex-wrap: wrap;
  }
  #Contents #Middle .item {
    flex: 1;
    position: relative;
    max-width: 666px;
    padding: 0 18px;
    box-sizing: border-box;
  }
  #Contents #Middle .item:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #Contents #Middle .item:nth-child(2) .card {
    height: 192px;
    width: 287px;
  }
  #Contents #Middle .item:nth-child(2) .card .Photo .Title {
    font-size: 22px;
    line-height: 32px;
  }
  #Contents #Middle .card {
    overflow: hidden;
    position: relative;
    margin-top: 36px;
    border-radius: 14px;
    background-color: var(--colorBg10);
    box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 0.09);
    display: block;
    box-sizing: border-box;
  }
  #Contents #Middle .card .Title .Top {
    padding: 25px 24px 0;
  }
  #Contents #Middle .card .Title .Top svg {
    width: 36px;
    height: 36px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
  }
  #Contents #Middle .card .Title .Top .Balloon {
    display: inline-block;
    position: relative;
    height: 34px;
    margin-top: 1px;
    padding: 0 13px;
    border-radius: 13px;
    font-size: 13px;
    line-height: 34px;
    background-color: #eee;
    vertical-align: top;
  }
  #Contents #Middle .card .Title .Top .Balloon::before {
    position: absolute;
    top: 0;
    left: -4px;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18' fill='%23eee' %3E%3Cpath d='M0 0c3.003 2.178 4.963 5.706 4.961 9.699V18H18C18 8.059 9.941 0 0 0'/></svg>");
    content: "";
  }
  #Contents #Middle .card .Photo .Title {
    font-family: "Pretendard700";
    padding: 0 24px 0;
    max-height: 92px;
    height: 92px;
    margin-top: 13px;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: -1px;
  }
  #Contents #Middle .card .Photo .Tag {
    color: #666;
    font-size: 14px;
    padding: 25px 24px 0;
  }
  #Contents #Middle .card .Photo .Tag span {
    font-family: "Pretendard400";
    margin-right: 6px;
  }
  #Contents #Middle .card .Photo .Image {
    margin-top: 31px;
  }
  #Contents #Middle .card .Photo .Image img {
    width: 100%;
    height: 100%;
  }
}
@font-face {
  font-family: "Pretendard400";
  src: url("../fonts/Pretendard-Regular.otf");
}
@font-face {
  font-family: "Pretendard500";
  src: url("../fonts/Pretendard-Medium.otf");
}
@font-face {
  font-family: "Pretendard600";
  src: url("../fonts/Pretendard-SemiBold.otf");
}
@font-face {
  font-family: "Pretendard700";
  src: url("../fonts/Pretendard-Bold.otf");
}
#CopyrightAlert {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
}
#CopyrightAlert button {
  color: white;
}/*# sourceMappingURL=style.css.map */