nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 72px;
    font-family: 'Pretendard500';
    #Resopnsive{
        width: 1296px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        #Title{
            font-size: 35px;
        }
        #Menu{
            font-family: 'Pretendard700';
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            width: 450px;
        }
    }
}