@font-face {
    font-family: 'Pretendard400';
    src: url('../fonts/Pretendard-Regular.otf')
}

@font-face {
    font-family: 'Pretendard500';
    src: url('../fonts/Pretendard-Medium.otf')
}

@font-face {
    font-family: 'Pretendard600';
    src: url('../fonts/Pretendard-SemiBold.otf')
}

@font-face {
    font-family: 'Pretendard700';
    src: url('../fonts/Pretendard-Bold.otf')
}